* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  background: #020246;
  padding: 0 20px;
}

.quiz_Score {
  background: #2700ffba;
  width: 320px;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  display: none;
}
.quiz_title {
  max-width: 320px;
}

.quiz_title h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 10px 0;
}

.qst_container {
  color: #fff;
  margin: 20px 0;
}
.my-2 {
  border: 1px solid #8064648c;
  background: #00000021;
  padding: 15px 10px;
  margin: 10px 5px;
  max-width: 320px;
}
.text-center {
  text-align: center;
  max-width: 320px;
}
.btn {
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  background: #2700ffba;
  width: 300px;
  border: none;
  color: #fff;
}
